In [1]:
import pandas as pd

In [2]:
df_ = pd.read_excel(
    "../data/NIQU RMS - MTY.xlsx",
    sheet_name="7-BNA",
)

df_ = (
    df_.rename(
        columns={
            "Markets": "Mercado",
            "CATEGORIA": "Categoria",
            "M.PRESENTACION": "Presentacion",
            "M.SABOR": "Sabor",
            "Facts": "tipo",
            "Unnamed: 7": "valor",
        }
    )
    .drop(columns=["CANASTO"])
    .dropna()
)
df_

,Mercado,Categoria,Presentacion,Sabor,tipo,Periods,valor
0,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,Dic 21,2.295996e+08
1,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,Enero 22,2.441441e+08
2,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,Feb 22,2.146197e+08
3,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,Marzo 22,2.617485e+08
4,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,Abr 22,2.965004e+08
...,...,...,...,...,...,...,...
299437,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Vtas Volumen,Enero 23,1.000000e+00
299438,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Vtas Unds,Enero 23,1.000000e+00
299439,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Precio EQ2 Promedio,Enero 23,3.960000e+01
299440,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Precio Unds Promedio,Enero 23,3.960000e+01
299441,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Dist. Num.,Enero 23,4.329000e-04

In [3]:
df = df_.copy()

month_map = {
    "Enero": "01",
    "Feb": "02",
    "Marzo": "03",
    "Abr": "04",
    "Mayo": "05",
    "Jun": "06",
    "Jul": "07",
    "Agosto": "08",
    "Set": "09",
    "Oct": "10",
    "Nov": "11",
    "Dic": "12",
}

month_series = df["Periods"].str.split(" ", expand=True)[0].map(month_map)
year_series = (
    df["Periods"].str.split(" ", expand=True)[1].apply(lambda year: f"20{year}")
)

date_series = year_series + "-" + month_series + "-01"

df["Fecha"] = pd.to_datetime(date_series)
df = df.drop(columns=["Periods"])
df

,Mercado,Categoria,Presentacion,Sabor,tipo,valor,Fecha
0,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,2.295996e+08,2021-12-01
1,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,2.441441e+08,2022-01-01
2,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,2.146197e+08,2022-02-01
3,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,2.617485e+08,2022-03-01
4,Total_Mexico_MT _A,AGUA NATURAL,FAMILIAR,NOT APPLICABLE,Vtas Valor,2.965004e+08,2022-04-01
...,...,...,...,...,...,...,...
299437,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Vtas Volumen,1.000000e+00,2023-01-01
299438,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Vtas Unds,1.000000e+00,2023-01-01
299439,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Precio EQ2 Promedio,3.960000e+01,2023-01-01
299440,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Precio Unds Promedio,3.960000e+01,2023-01-01
299441,Total_Area 6_MT _A,TE LISTO PARA BEBER,PACK,VERDE/OTR. SABORES,Dist. Num.,4.329000e-04,2023-01-01

In [14]:
df.to_csv("../data/bebidas-no-alcoholicas.csv", index=False)

## VolumetrÃ­a Simple

In [15]:
df["tipo"].value_counts()

tipo
Vtas Valor              49907
Vtas Volumen            49907
Vtas Unds               49907
Precio EQ2 Promedio     49410
Precio Unds Promedio    49410
Dist. Num.              49410
Name: count, dtype: int64

In [16]:
df["Mercado"].value_counts()

Mercado
Total_Mexico_MT _A     53262
Total_Area 2_MT _A     42906
Total_Area 4_MT _A     41922
Total_Area 3_MT _A     40893
Total_ Area 5_MT _A    39867
Total_Area 1_MT _A     39744
Total_Area 6_MT _A     39357
Name: count, dtype: int64

In [17]:
df["Categoria"].value_counts()

Categoria
REFRESCOS                            204312
AGUA SAB+VIT                          42066
TE LISTO PARA BEBER                   37341
AGUA NATURAL                           7926
BEBIDAS ENERGETIZANTES                 3198
BEBIDAS ISOTONICAS                     1554
JUGOS+NECTAR+BEB REFRESC+BEB SOYA      1554
Name: count, dtype: int64

In [18]:
df["Presentacion"].value_counts()

Presentacion
INDIVIDUAL            211980
PACK                   61581
MULTI-PACK             13338
MULTI-PACK CRUZADO      4836
NOT APPLICABLE          3108
FAMILIAR                1554
GARRAFON                1554
Name: count, dtype: int64

In [19]:
df["Sabor"].value_counts()

Sabor
NOT APPLICABLE            14232
COLA                       6096
A MIN NAT                  5370
TORONJA VERDE              5355
LIMON                      5274
                          ...
CHAMOY                       36
LIMA LIMON HIERBABUENA       36
OTR. TIPOS/ZARZAMORA         24
VERDE/LIMON CITRICOS         18
MARULA                       18
Name: count, Length: 195, dtype: int64

In [20]:
df.isna().sum()

Mercado         0
Categoria       0
Presentacion    0
Sabor           0
tipo            0
valor           0
Fecha           0
dtype: int64

## Pivot

In [9]:
df_pivot = (
    df.pivot_table(
        index=["Mercado", "Categoria", "Presentacion", "Fecha", "Sabor"],
        columns="tipo",
        values="valor",
        aggfunc="sum",
    )
    .reset_index()
    .dropna()
)

df_pivot["Mercado"] = (
    df_pivot["Mercado"]
    .str.strip()
    .str.removeprefix("Total_")
    .str.removesuffix("_MT _A")
    .str.strip()
)


df_pivot

tipo,Mercado,Categoria,Presentacion,Fecha,Sabor,Dist. Num.,Precio EQ2 Promedio,Precio Unds Promedio,Vtas Unds,Vtas Valor,Vtas Volumen
0,Area 5,AGUA NATURAL,FAMILIAR,2021-12-01,NOT APPLICABLE,76.712743,27.532,27.532,2213985.209,6.095440e+07,2213985.209
1,Area 5,AGUA NATURAL,FAMILIAR,2022-01-01,NOT APPLICABLE,76.557328,27.730,27.730,2345564.635,6.504218e+07,2345564.635
2,Area 5,AGUA NATURAL,FAMILIAR,2022-02-01,NOT APPLICABLE,75.955207,27.838,27.838,2136744.771,5.948352e+07,2136744.771
3,Area 5,AGUA NATURAL,FAMILIAR,2022-03-01,NOT APPLICABLE,76.554831,27.865,27.865,2555831.766,7.121816e+07,2555831.766
4,Area 5,AGUA NATURAL,FAMILIAR,2022-04-01,NOT APPLICABLE,78.278550,27.942,27.942,2713159.846,7.581100e+07,2713159.846
...,...,...,...,...,...,...,...,...,...,...,...
49902,Mexico,TE LISTO PARA BEBER,PACK,2024-08-01,KOMBUCHA/OTR. SABORES,0.000084,150.000,150.000,1.000,1.500000e+02,1.000
49903,Mexico,TE LISTO PARA BEBER,PACK,2024-10-01,NEGRO/LIMON,0.000084,2.592,2.592,1.000,2.592000e+00,1.000
49904,Mexico,TE LISTO PARA BEBER,PACK,2024-10-01,VERDE/LIMON,0.000084,2.592,2.592,1.000,2.592000e+00,1.000
49905,Mexico,TE LISTO PARA BEBER,PACK,2024-12-01,OTR. TIPOS/OTR. SABORES,0.000084,24.440,24.440,1.000,2.444000e+01,1.000
49906,Mexico,TE LISTO PARA BEBER,PACK,2024-12-01,VERDE/LIMON,0.000084,14.820,14.820,1.000,1.482000e+01,1.000

In [11]:
df_pivot.isna().sum()

tipo
Mercado                 0
Categoria               0
Presentacion            0
Fecha                   0
Sabor                   0
Dist. Num.              0
Precio EQ2 Promedio     0
Precio Unds Promedio    0
Vtas Unds               0
Vtas Valor              0
Vtas Volumen            0
dtype: int64

In [12]:
df_pivot.to_csv("../data/bebidas-no-alcoholicas-pivot.csv", index=False)